configuration {
    modes: "drun,run,window";
    display-drun: "apps";
    display-run: "run";
    display-window: "windows";
    drun-display-format: "{name}";
    disable-history: false;
    show-icons: false;
    icon-theme: "Adwaita";
    font: "JetBrainsMono Nerd Font Propo 11";
    case-sensitive: false;
}

@theme "vague"
